* {
  box-sizing: border-box;
}

/* Does a smooth scroll when using the Menu to jump to another part */
html {
  scroll-behavior: smooth;

}

body {
  font-family: Arial;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: #013328;
}

h1 {
  font-size: 28px;
  font-style: Daytona;
  color: #CC8B65
}

h2 {
  font-size: 25px;
  font-style: Daytona;
  color: #CC8B65;
}

h3 {
  font-size: 22px;
  font-style: Daytona;
  color: #CC8B65;
}

h4 {
  font-size: 20px;
  font-style: Daytona;
  color: #CC8B65;
}

p {
  font-size: 16px;
  font-style: Arial;
  color: #E3DCD2;
}

li {
  font-size: 15px;
  font-style: Arial;
  color: #E3DCD2;
}

/* gives the content in the sections that round lighter green bubble */
section {
  background-color: rgb(2, 78, 62);
  border-radius: 2%;
  padding: 0 1% 0 1%;
}

/* Style the top navigation bar */
.topnav {
  position: fixed;
  overflow: hidden;
  background-color: #100C0D;
  width: 100%;
  top: 0;
  z-index: 5;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #E3DCD2;
  font-style: Daytona;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  width: 14.285%;
}

.topnav .icon {
  display: none;
  filter: invert(100%);
}

/* Change color on hover */
.topnav a:hover {
  background-color: #3E3A45;
  color: #E3DCD2;
}

/* Change color on active Site */
.topnav a.active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Settings for the Navigationbar on the right side this is for the ul*/
.SideNav {
  position: fixed;
  right: 0;
  top: 15%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #100C0D;
}

/* Settings for the Navigationbar on the right side this is for the li*/
.SideNavli a {
  display: block;
  color: #CC8B65;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.SideNavli a:hover {
  background-color: #555;
  color: white;
}

/* Gives the scroll a bit margin so if you use the menu you will land on the title
   without the topNav covering it */
.scroll {
  scroll-margin-top: 80px;
}

/* Style the footer*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #100C0D;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #CC8B65;
}

/* How Big the Image should be on the equipment site */
.equipment div img,
.equipment section img {
  width: 300px;
  max-height: 380px;
}

/* Centers the content of the Websites */
.content-container {
  text-align: center;

}

.content {
  text-align: left;
  width: 60%;
  max-width: 100%;
  display: inline-block;

}

.title {
  margin-top: 10%;
  margin-bottom: 5%;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a {
    width: 50%;
  }

  .topnav .icon {
    width: 14.285%;
  }

  .SideNav {
    position: fixed;
    top: calc(12.8% - ((900px - 100vw) * 0.05));
    list-style-type: none;
    margin: 0;
    z-index: 3;
    padding: 0;
    width: 100%;
    background-color: #100C0D;
  }

  /* Settings for the Navigationbar on the right side this is for the li*/
  .SideNavli a {
    display: block;
    color: #CC8B65;
    padding: 12px 16px;
    text-decoration: none;
    width: 20%;
    float: left;
    z-index: 3;
  }

  .scroll {
    scroll-margin-top: 190px;
  }

  .content-container {
    text-align: center;
    margin-top: 30%;
  }


}